<h1 style="text-align: center;color: chocolate">Update Product</h1>
<form [formGroup]="editForm" (ngSubmit)="submidSave()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <label>Category</label>
    <select formControlName="category">
      <option selected [value]="null" disabled>Choose type category</option>
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" value="Update">Update</button>
  </div>
</form>
