<h1 style="text-align: center;color: pink">Student detail</h1>
<h1>Edit Student</h1>
<p>Id Student:</p>
<input type="text" placeholder="Id Student" class="form-control" value="{{student.id}}">
<p>Name Student:</p>
<input type="text" placeholder="Name Student" class="form-control" value="{{student.name}}">
<p>Age Student:</p>
<input type="number" placeholder="Age Student" class="form-control" value="{{student.age}}">
<p>Mark Student:</p>
<input type="number" placeholder="Mark Student" class="form-control" value="{{student.mark}}">
<p>Avatar Student:</p>
<input type="number" placeholder="Avatar Student" class="form-control" value="{{student.avatar}}">
<button type="submit" class="btn-light">Edit</button>
<!--<div class="col-2" (click)="editStudent(id.value,name.value,age.value,mark.value,avatar.value)">
  <label>Change Mark : </label>
  <input class="form-control" type="number" min = "0" max = "10" [(ngModel)]="student.mark">
</div>-->

<h1>Create Student</h1>
<p>Id Student : <input type="text" #id></p>
<p>Name Student : <input type="text" #name></p>
<p>Age Student : <input type="text" #age></p>
<p>Mark Student : <input type="text" #mark></p>
<p>Avatar Student : <input type="text" #avatar></p>
<button type="submit" (click)="createStudent(id.value,name.value,age.value,mark.value,avatar.value)" class="btn-light">Create</button>
