<h1>Delete Product</h1>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <div class="form-group">
    <label>Id <i class="text-danger">(*)</i></label>
    <input type="number" class="form-control" formControlName="id">
  </div>
  <div class="form-group">
    <label>Name <i class="text-danger">(*)</i></label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>Price <i class="text-danger">(*)</i></label>
    <input type="number" class="form-control" formControlName="price">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Delete Product</button>
  </div>
</form>

