<h1>List Product</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>No</th>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Desciption</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of products;index as i">
    <td>{{i + 1}}</td>
    <td>{{temp.id}}</td>
    <td>{{temp.name | titlecase}}</td>
    <td>{{temp.price}}</td>
    <td>{{temp.description}}</td>
    <td>
      <a class="btn btn-danger" [routerLink]="['/product/edit',temp.id]">Edit</a>
      <a class="btn btn-info"[routerLink]="['/product/delete',temp.id]">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
